[submodule "addons-extern/BlenderUSDZ"]
	path = addons-extern/BlenderUSDZ
	url = https://github.com/robmcrosby/BlenderUSDZ.git
[submodule "cpp/extern/pybind11"]
	path = cpp/extern/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "blender"]
	path = cpp/blender
	url = git://git.blender.org/blender.git
